* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
.navbar {
    width: 100%;
    height: 43px;
    background-color: #eee;
    position: sticky;
    top: 0;
    left: 0;
}

.navbar > li {
    width: 100%;
    height: 100%;
    display: grid;
    font-size: 20px;
    place-items: center;
}

.marketing {
    width: 1550px;
    height: 700px;
    margin: auto;
}

.marketing_img {
    width: 100%;
    height: 540px;
    background-image: url(https://www.w3schools.com/w3images/coffee.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.marketing > h1 {
    font-size: 40px;
    font-weight: 500;
    margin-top: 30px;
}

.marketing > p {
    font-size: 20px;
    margin: 30px 0;
}

.label {
    width: 120px;
    height: 40px;
    background-color: #fff;
    display: grid;
    place-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
}

.img_bottom {
    width: 100%;
    height: 40px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 25px;
    padding: 0 20px;
}

.dots {
    width: 100px;
    height: 100%;
}

.dots > span {
    width: 20px;
    height: 20px;
    background-color: #fff;
}

.offers {
    width: 1550px;
    height: 350px;
    margin: auto;
    text-align: center;
}

.offers > h1{
    text-decoration: underline 7px;
}

.offer_cards {
    width: 100%;
    height: 200px;
    margin: 20px 0;
}

.card {
    width: 100%;
    height: 100%;
    background-color: #eee;
    text-align: left;
    padding: 20px;
}

.card2 {
    background-color: #ccc;
}

.card3 {
    background-color: #838383;
    color: #fff;
}

.card4 {
    background-color: #000;
    color: #fff;
}

.king {
    width: 1550px; 
    height: 600px; 
    margin: auto; 
    text-align: center; 
}

.king_uzb {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}

.uzb {
    width: 360px;
    height: 250px;
    text-align: center;
    margin: 10px;
}

.uzbek {
    width: 100%;
    height: 100%;
}

.pubg {
    background-color: black;
    color: #fff;
    display: grid;
}

.PUBG {
    background-color: rgb(76, 76, 76);
    color: #fff;
    display: grid;
}

.mobil {
    background-color: black;
    color: #fff;
    display: grid;
}

.u {
    font-size: 20px;
    display: grid;
    border-bottom: 1px solid;
}

.l {
    width: 150px;
    height: 50px;
    background-color: #a3ff8c;
    color: #fff;
    font-size: 20px;
    margin: auto;
}

.a {
    display: grid;
}

.A > h1 {
    text-align: center;
    text-decoration: underline 7px;
}

.B {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}

.C {
    width: 25%;
    height: 100%;
    background-color: #ffffff;
    margin: 10px;
    box-shadow: 0px 0px 5px #000;
} 

img {
    width: 333px;
    height: 250px;
}

.u {
    text-align: center;
    width: 70%;
    margin: auto;
}

.D {
    width: 100%;
    height: 250px;
}

.L {
    width: 100%;
    height: 250px;
}

.G > h1 {
    text-align: center;
    text-decoration: 7px underline #000;
}

.M {
    width: 100%;
    height: 100%;
}

.N {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.O {
    width: 100%;
    height: 100%;
}

.kil {
    width: 52%;
}

.ki {
    width: 52%;
}

.ar {
    width: 53%;
}

.ra {
    width: 53%;
}

.ta {
    width: 50%;
    height: 100%;
    background-color: #000;
    color: #fff;
    font-size: 20px;
}

.zu {
    width: 50%;
    font-size: 25px;
}

.ha {
    width: 50%;
    font-size: 25px;
}

.lar {
    width: 50%;
    font-size: 25px;
}

.at {
    width: 50%;
    font-size: 25px;
}

.Footer {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 60px;
    background-color: #ededed;
    padding: 50px 0;
}

.footer_uz {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.f {
    width: 6%;
    height: 10%;
    font-size: 15px;
    background-color: #000;
    color: #fff;
}

.footer_uzb {
    margin-top: 20px;
    font-size: 20px;
}

.footer_uzbek {
    margin-top: 10px;
    font-size: 15px;
}