* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #FCBE5C;
}

.container {
    width: 30%;
    height: 60%;
    border: solid 100px #926200;
    transform: rotate(45deg);
    position: relative;
}

.container_wrp {
    width: 100%;
    height: 100%;
    background-color: #FCBE5C;
}

.main_core {
    width: 100px;
    height: 100px;
    background-color: #0B2429;
    position: absolute;
    top: 40%;
    left: 40%;
}