.container {
    width: 700px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    background-color: red;
    padding: 20px;
}

.box {
    font-size: 30px;
    color: #fff;
    background-color: green;
}